body {
    text-align: center;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}

.img-size {
    height: 500px;
}

@media (max-width: 650px) {
    .img-size {
        width: 60%;
        height: auto;
    }
}
